<div class="container-fluid">
  <div class="stepper">
    <div class="steps">
      <div class="step" (click)="toggleStep(0)" [ngClass]="minimizedSteps.indexOf(0) > -1 && 'minimized'">
        <div class="step-header cursor-pointer">
          <div class="header">Flattening</div>
          <div class="subheader"></div>
        </div>
        <div class="step-content">
          <div>
            We've so far had a 2 dimensional matrix of numbers as our image. But for our next step, we're going to need
            a 1 dimensional list.
            <br />
            The process of such a conversion is called <i>Flattening</i>.
            <br />
            <br />
            <img src="assets/flatten.png" alt="" height="250" /><br />
            <br />
            It's a pretty straight forward process. It's just stacking the rows one above another.
          </div>
        </div>
      </div>
      <div class="step" (click)="toggleStep(1)" [ngClass]="minimizedSteps.indexOf(1) > -1 && 'minimized'">
        <div class="step-header cursor-pointer">
          <div class="header">Perceptron</div>
          <div class="subheader"></div>
        </div>
        <div class="step-content">
          <div>
            Perceptrons are the building blocks of neural networks. <br />
            In fact, a neural network is nothing but a multi-layered perceptron.
          </div>
        </div>
      </div>
      <div class="step" (click)="toggleStep(2)" [ngClass]="minimizedSteps.indexOf(2) > -1 && 'minimized'">
        <div class="step-header cursor-pointer">
          <div class="header">Still, what is it?</div>
          <div class="subheader"></div>
        </div>
        <div class="step-content">
          <div>
            Picture the following - <br /><br />
            <img src="assets/perceptron.png" alt="" height="250" /><br /><br />
            You have a bunch of inputs <i>x</i> on the left. If you multiply each input by some weights <i>w</i>, and
            sum them up, you get <i>y</i>. <br />The inputs here can be the flattened list from earlier.
            <br />
            Now we'll add a couple more bits to this - bias and activation.
          </div>
        </div>
      </div>
      <div class="step" (click)="toggleStep(3)" [ngClass]="minimizedSteps.indexOf(3) > -1 && 'minimized'">
        <div class="step-header cursor-pointer">
          <div class="header">Bias</div>
          <div class="subheader"></div>
        </div>
        <div class="step-content">
          <div>
            <img src="assets/bias.png" alt="" height="150" /><br />
            A bias is a constant term added to the weighted sum. <br /><br />
            This helps sway the output of the perceptron towards some desired value. <br />
            In other words, it makes the perceptron <i>biased</i>.
          </div>
        </div>
      </div>
      <div class="step" (click)="toggleStep(4)" [ngClass]="minimizedSteps.indexOf(4) > -1 && 'minimized'">
        <div class="step-header cursor-pointer">
          <div class="header">Activation</div>
          <div class="subheader"></div>
        </div>
        <div class="step-content">
          <div>
            An activation function <i>squishes</i> the output of the previous operation. <br />
            Neural networks cannot perform well with large values. So the outputs of perceptron are passed through an
            activation function which brings them down to desirable range.
            <br />
            There are different types of activation functions. Sigmoid and ReLU are popular ones. <br /><br />
            <img src="assets/activation_functions.png" alt="" height="100" />
          </div>
        </div>
      </div>
      <div class="step" (click)="toggleStep(3)" [ngClass]="minimizedSteps.indexOf(3) > -1 && 'minimized'">
        <div class="step-header cursor-pointer">
          <div class="header">To sum up...</div>
          <div class="subheader"></div>
        </div>
        <div class="step-content">
          <div>
            Putting all these together gives us a perceptron. <br /><br />
            <img src="assets/perceptron_full.png" alt="" height="300" />
            <br /><br />
            So, a perceptron consists of four parts --
            <ol>
              <li>Input values or One input layer</li>
              <li>Weights and Bias</li>
              <li>Weighted net sum</li>
              <li>Activation Function</li>
            </ol>
          </div>
          <div>
            <button class="next-btn" routerLink="/module_cnn">Go To CNN</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
