.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
  margin-top: -16px;
}

.network-state-wrapper {
  flex: 1 1;
  display: flex;
  width: 100%;
  padding: 15px;
  .network-state {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
  }
  .controls {
    flex: 0 0 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
  }
}

.network-description-wrapper {
  flex: 0 0 200px;
  padding: 15px;
  table.network-description {
    height: 100%;
    width: 100%;
    tr {
      td {
        padding: 10px;
      }
      td:first-child,
      td:last-child {
        width: 40px;
      }
      td.description {
        padding: 20px;
        font-size: 20px;
      }
    }
  }
}

.cnn-model-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
