<div class="module-wrapper" (click)="wrapperClicked()">
  <div class="flex-column w-100">
    <div class="w-100">
      <form class="form-inline">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Image Width</span>
          </div>
          <input
            type="number"
            class="form-control"
            name="numCols"
            [(ngModel)]="this.form.numCols"
            (change)="dimensionsChanged()"
            max="16"
            min="1"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Image Height</span>
          </div>
          <input
            type="number"
            class="form-control"
            name="numRows"
            [(ngModel)]="this.form.numRows"
            (change)="dimensionsChanged()"
            max="16"
            min="1"
          />
        </div>
      </form>
      <div style="position: absolute; right: 10px; top: 70px;">
        <button class="btn btn-outline-dark" (click)="showIntro(0, true)">
          Show Intro Again
        </button>
        <button class="btn btn-outline-dark" routerLink="/module_conv">
          <i class="fa fa-chevron-circle-right" style="margin-right: 2px;"></i> Go to Convolution
        </button>
      </div>
    </div>
    <div class="flex w-100">
      <div class="presets-wrapper flex-column">
        <button class="btn btn-outline-info" *ngFor="let preset of presets" (click)="loadPreset(preset)">
          Load "{{ preset.name }}"
        </button>
      </div>
      <div class="svg-wrapper">
        <svg #svg id="module-image-svg"></svg>
      </div>
    </div>
  </div>
</div>
<ngx-smart-modal #introModal identifier="introModal" [closable]="false" [escapable]="false" [dismissable]="false">
  <div class="modal-header bold">
    {{ intro.current_state.title }}
  </div>
  <div class="modal-body">
    <div [innerHTML]="intro.current_state.message"></div>
  </div>
  <div class="modal-footer">
    <button class="flex-left btn btn-outline-dark btn-translucent" (click)="closeIntro()">
      Close
    </button>
    <button class="pull-right btn btn-primary" (click)="introNext()">
      {{ intro.current_state.btnText || 'Next' }}
    </button>
  </div>
</ngx-smart-modal>
<div id="colorPickerPopup" #colorPickerPopup class="colorPickerPopup">
  <div class="content flex">
    <div>
      <div class="slider-wrapper">
        <ng5-slider
          [(value)]="slider_value"
          [options]="slider_options"
          (valueChange)="sliderUpdated()"
          [manualRefresh]="manualRefresh"
        ></ng5-slider>
      </div>
    </div>
    <div class="flex-column">
      <input type="number" class="form-control text-right" [(ngModel)]="slider_value" (change)="sliderUpdated()" />
      <div
        class="colorPreview"
        [ngStyle]="{ background: 'rgb(' + slider_value + ',' + slider_value + ',' + slider_value + ')' }"
      ></div>
    </div>
  </div>
</div>
