svg {
  max-height: 100%;
  max-width: 100%;
}

form {
  .input-group {
    margin-right: 10px;
    margin-bottom: 0 !important;
  }
}

.svg-wrapper {
  max-height: calc(100% - 110px);
  flex: 1 1;
}

.presets-wrapper {
  flex: 0 0 150px;
  padding-top: 20px;
  button {
    margin-bottom: 10px;
  }
}
