<div class="module-wrapper">
  <div class="flex-column">
    <div>
      <form class="form-inline">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Width</span>
          </div>
          <input type="number" class="form-control" name="numCols" [(ngModel)]="this.form.numCols" />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Height</span>
          </div>
          <input type="number" class="form-control" name="numRows" [(ngModel)]="this.form.numRows" />
        </div>
        <button type="submit" class="btn btn-outline-primary" (click)="updateFigure()">Update</button>
      </form>
      <button class="btn btn-default" (click)="showIntro()">Show Intro</button>
    </div>
    <div class="slider-wrapper">
      <ng5-slider
        [ngClass]="{ inactive: !this.selectedNode }"
        [(value)]="slider_value"
        [options]="slider_options"
        (valueChange)="sliderUpdated()"
      ></ng5-slider>
    </div>
    <div class="svg-wrapper">
      <svg #svg id="module-image-svg"></svg>
    </div>
  </div>
</div>
<ngx-smart-modal #introModal identifier="introModal" [closable]="false" [escapable]="false" [dismissable]="false">
  <div class="modal-header bold">
    {{ intro.current_state.title }}
  </div>
  <div class="modal-body">
    <div [innerHTML]="intro.current_state.message"></div>
  </div>
  <div class="modal-footer">
    <button class="pull-right btn btn-primary" (click)="introNext()">
      {{ intro.current_state.btnText || 'Next' }}
    </button>
  </div>
</ngx-smart-modal>
