.svg-node {
  stroke: #aaa;
  stroke-width: 1;

  &.selected {
    stroke: #0db9f0;
    stroke-width: 4px;
  }
}

.svg-node-text {
  fill: white;
  mix-blend-mode: difference;
}

.module-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  margin-top: -16px;
  height: calc(100vh - 56px);
  background: #eeeeee;
}

.nsm-dialog {
  max-width: 800px;
  margin-top: 50px;
  .nsm-content {
    padding: 0;
  }
}

.colorPickerPopup {
  padding: 15px 15px 15px 5px;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  display: none;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);

  .content {
    .slider-wrapper {
      height: 150px;
      margin-right: 40px;
    }
    input {
      font-size: 20px;
      width: 100px;
    }
    .colorPreview {
      flex: 1 1;
      border: 1px solid #ced4da;
      margin-top: 10px;
      border-radius: 4px;
      background: #aaaaaa;
    }
  }

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    background-color: white;
    position: absolute;
    left: -6px;
    top: 68px;
  }

  .ng5-slider.ng5-slider-vertical .ng5-slider-pointer {
    left: -10px !important;
    width: 24px;
    height: 24px;
    &::after {
      top: 8px;
      left: 8px;
    }
  }
}

.conv-animation-label {
  margin-top: -60px;
}

.layer-box {
  image {
    image-rendering: pixelated;
  }
  rect,
  text,
  image {
    opacity: 0.4;
    fill: #aaaaaa;
    transition: all 500ms ease-in-out;
  }
  &.focused {
    rect,
    text,
    image {
      opacity: 1;
      fill: #000000;
    }
  }
}

.weights-box {
  line {
    stroke: #333;
    stroke-width: 2px;
    opacity: 0.15;
  }
}
