.svg-node {
  stroke: #aaa;
  stroke-width: 1;

  &.selected {
    stroke: #0db9f0;
    stroke-width: 4px;
  }
}

.svg-node-text {
  fill: white;
  mix-blend-mode: difference;
}

.module-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  margin-top: -16px;
  height: calc(100vh - 56px);
  background: #eeeeee;
}
