.module-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

form {
  .input-group {
    margin-right: 10px;
    margin-bottom: 0 !important;
  }
}

.slider-wrapper {
  padding: 10px;
}

.svg-wrapper {
  max-height: calc(100% - 110px);
}
