<div class="module-wrapper" (click)="wrapperClicked()">
  <div class="flex-column">
    <div>
      <form class="form-inline">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Width</span>
          </div>
          <input type="number" class="form-control" name="numCols" [(ngModel)]="this.form.numColsImage" />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Height</span>
          </div>
          <input type="number" class="form-control" name="numRows" [(ngModel)]="this.form.numRowsImage" />
        </div>
        <button type="submit" class="btn btn-outline-primary" (click)="updateImage()">Update</button>
        <!-- <button (click)="convolve()">Convolve Now!</button> -->
      </form>
    </div>
    <div class="svg-wrapper">
      <svg #svg id="module-conv-svg"></svg>
    </div>
  </div>
</div>
<ngx-smart-modal #introModal identifier="introModal" [closable]="false" [escapable]="false" [dismissable]="false">
  <div class="modal-header bold">
    {{ intro.current_state.title }}
  </div>
  <div class="modal-body">
    <div [innerHTML]="intro.current_state.message"></div>
  </div>
  <div class="modal-footer">
    <button class="pull-right btn btn-primary" (click)="introNext()">
      {{ intro.current_state.btnText || 'Next' }}
    </button>
  </div>
</ngx-smart-modal>
<div id="colorPickerPopup" #colorPickerPopup class="colorPickerPopup">
  <div class="content flex">
    <div>
      <div class="slider-wrapper">
        <ng5-slider
          [(value)]="slider_value"
          [options]="selectedNode && selectedNode.nodeType == 'filter' ? slider_options_filter : slider_options_image"
          (valueChange)="sliderUpdated()"
          [manualRefresh]="manualRefresh"
        ></ng5-slider>
      </div>
    </div>
    <div class="flex-column">
      <input type="number" class="form-control text-right" [(ngModel)]="slider_value" (change)="sliderUpdated()" />
      <div
        class="colorPreview"
        [ngStyle]="{ background: 'rgb(' + slider_value + ',' + slider_value + ',' + slider_value + ')' }"
      ></div>
    </div>
  </div>
</div>
