svg {
  max-height: 100%;
  max-width: 100%;
}

form {
  .input-group {
    margin-right: 10px;
    margin-bottom: 0 !important;
  }
}
.description {
  float: top;
}

.slider-wrapper {
  padding: 10px;
}

.presets-wrapper {
  flex: 0 0 170px;
  padding-top: 20px;
  button {
    margin-bottom: 10px;
    height: 40px;
    width: 150px;
    white-space: nowrap;
  }
}

.svg-wrapper {
  max-height: calc(100% - 110px);
  margin-top: 100px;
  width: 100%;
}
