@import "src/styles/theme-variables";

.navbar {
  margin-bottom: $spacer;
  background-color: #006699 !important;
}
.nav-link.dropdown-toggle {
  cursor: pointer;
}

.navbar-brand {
  img {
    filter: brightness(10) saturate(0);
    height: 40px;
    margin: -10px 0 -8px;
  }
}
